@page
@model TicketBookingApp.Pages.Booking.SuccessModel

@{
    ViewData["Title"] = "Booking Successful";
}

<h2>Booking Successful!</h2>
<p>Your adventure has been successfully booked. We will send you more details soon.</p>
<a href="/Adventure/Index" class="btn">Back to Adventures</a>
